<form name="" action="/program/post" method="post" enctype="application/x-www-form-urlencoded">	
	<div class="row">	
		<div class="col-sm-12">
			<h2><em><%= title %></em></h2><hr>		
			<div class="row">
				    <div class="col-sm-12">
							<div class="form-group">	
								<label class="form-label kobby">Structure</label>							
							    <input type="text" name="link" value="<%- row.link %>" class="form-control">
							</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">	
							<label class="form-label kobby">Levels</label>							
							<input type="text" name="levels" value="<%- row.levels %>" class="form-control">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">	
							<label class="form-label kobby">Prefix</label>							
							<input type="text" name="prefix" value="<%- row.prefix %>" class="form-control">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">	
							<label class="form-label kobby">Promotion Order</label>							
							<input type="text" name="order" value="<%- row.order %>" class="form-control">
						</div>
				    </div>
					<div class="col-sm-12">
						<div class="form-group">
								<label class="form-label kobby">Name</label>							
								<input type="text" name="name" value="<%- row.name %>" class="form-control">
					    </div>
					</div>                                                                
					<div class="col-sm-12">
							<div class="form-group">
								<label class="form-label kobby">Remarks</label>								
								<input type="text" name="remarks" value="<%- row.remarks %>" class="form-control">																
							</div>
					</div> 
					<div class="col-sm-12">
							<div class="form-group">	
								<label class="form-label kobby">Year Started</label>							
							    <input type="number" name="year_started" value="<%- row.year_started %>" class="form-control">
							</div>
					</div> 
					<div class="col-sm-12">   
						<div class="form-group">
							<label class="form-label kobby">Score Scheme</label>         
							<select class="form-control" name="scheme">
									<option value="" <%- row.scheme == ''? 'selected="selected"':'' %> >Choose Scheme</option>
									<% schemes.map((scheme,i) => {	%>
									<%- '<option value="'+scheme.id+'" '+(scheme.id == row.scheme ? 'selected="selected"':'')+'>'+scheme.title+'</option>';%>
									<%  });	%>									   
							</select>
						</div>
				    </div>						
					<div class="col-sm-12">   
						<div class="form-group">  
					        <input type="hidden" name="id" value="<%= row.id ? row.id : '0' %>"/>
							<button type="submit" class="btn btn-success btn-large">SAVE CHANGES</button>
							<a href="/program/list" class="btn btn-primary btn-large" onclick="return confirm('Do you want to Cancel?')">CANCEL</a>
						</div>
					</div>

				</div>
			</div> 
	</div>
</form>