
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->

  <title>PRAISE BAPTIST STUDENT MANAGEMENT SYSTEM</title>
  <link rel="stylesheet" href="/public/ad_assets/lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="/public/ad_assets/css/quirk.css">  
  <script src="/public/ad_assets/lib/modernizr/modernizr.js"></script> 
  
  <style type="text/css">
      /* Login Background */
	   
      #bg {
			  position: fixed;
			  left: 0;
			  top: 0;
			  width: 100%;
			  height: 100%;
        /*
			  background: url(<%= settings.loginColor %>) no-repeat center center fixed;
			  background-size: cover;
			  -webkit-filter: blur(4px);  
			  z-index:999!important;*/
        background-color:<%= settings.primaryColor %>;
		   }
	   
	      .signup{
			  z-index:1000!important;
		   }
		   
		  .signup .panel {
			  background-color:  <%= settings.loginColor %>;
			  padding: 20px 20px 40px 20px;
		   }
			
		  .signup h1 {
			  color: rgba(0,0,0,0.5);
			  text-align: center;
			  margin: 0;
			  font-weight: 600;
		   }		  
		   
		   .btn-success,.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
				background-color:rgba(0,0,0,0.7) !important;
			}			
	  
  </style>
  
  
</head>

<body class="signwrapper">	
	 
	 <div class="signup">
		<div class="row">
		    <div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div class="panel">    
	
	<!-- Login Error Message -->
	
     <div class="form-group">
        <a class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">
          <%= settings.instituteShort %>
		</a><br>
		<center>
		      <img src="<%= settings.logo %>" style="height:90px;border-radius:50%;"/>
		</center>
     </div>
	
    <div class="panel-body">
      <h4 class="panel-title">LOGIN </h4>	
      <div class="or">TUTOR, ACCOUNTANT & ADMINISTRATOR </div>
      <form action="login" method="post">
        <div class="form-group mb10">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="username" class="form-control" placeholder="Enter Usercode">
          </div>
        </div>
        <div class="form-group mb10">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
          </div>
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-quirk btn-block">Sign In</button>
        </div>
      </form>
      <hr class="invisible">
	  <center><small style="color:#aaa">All rights reserved.  <%= settings.instituteShort %> &copy; <%= new Date().getFullYear()%>.</small></center>
      
    </div>
  </div><!-- panel -->
  </div><!-- col-sm-5 -->
  
  <!-- INSTRUCTIONS -->
    
    <div class="col-sm-4"></div><!-- col-sm-7 -->
	 
    </div>
	
	</div><!-- signup -->

</body>
</html>
