<!DOCTYPE>
<html lang="en">
<head>
    <title>STUDENT FILE </title>
    <link href="http://www.allfont.de/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css" />
    <style type="text/css" >
          body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight:normal;
            font-size:13px; 
            background-color:#eee;  
            letter-spacing:0.093em;            
          }

         h2,h3,h4,h5,h6,b{color: <%- settings.loginColor; %>}

        header{
            background:<%- settings.loginColor; %>;
            padding:10px 15px;
            display:flex;
            border-radius:15px 15px 0 0;
        }

        .logo{
          height:80px;
          width:80px;
          border-radius:10px;
          padding:5px;
          background-color:white;
        }

        .photo{
          height:70px;
         
        }

        .cover{
            width: 920px;             
            margin: 10px auto;  
            box-shadow:2px 2px 4px #999;             
            background:#fff;  
            page-break-after:always;  
            border-radius:15px; 
            padding-bottom:20px;     
        }

        .title{
            text-align: left;  
            color:<%- settings.accentColor %>;
            font-size:28px;
            letter-spacing:0.15em;
            width:80%;
            padding:20px;
            margin:0px auto;                                                               
        }

        h1.title span{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-weight:100;
            color:#fff;
        }

        .subcover{
        clear:both;  
        text-align:center;   
        }

        .s-item{
            float:left;
            margin-right:6.2%;
            margin-left:7.2%;
            color:<%- settings.accentColor %>;
            font-size:16px;
        }

        .s-item b{
            color:#ccc;
        }


        content{
            font-family:'Arial Narrow', Arial, sans-serif;
            font-size: 17px;
            display:block;              
            clear:both;
            overflow:hidden;
            padding:10px 50px;
        }        


        .owner{
            font-weight:tahoma,helvetica;
            clear:both;
            overflow:hidden;
            line-height:5px;            
        }

        .owner small{
            font-size:12px;
            font-weight:bold;
        }

        .owner p{
            font-size:12px;  
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif          
        }

        .ch1{
            float:left;
        }
        .ch2{
            padding:5px 0;
            float:right;
            direction:rtl;
        }

        .content{
            clear:both;
            overflow:hidden;              
        }

        .sub-footer{
            clear:both;
        }

        .ftleft{
            float:left;
        }

        .ftright{
            float:left;
        }




        footer{
            margin:80px 0 10px;
            font-size:10px;
            font-family:cursive;
            font-style:italic;
        }

        .heading{
            text-align:center;
            text-decoration : underline;
        }

        .table{
            width:800px;             
            border-collapse: collapse;              
            padding: 20px;
            vertical-align:middle;
            text-align:center;  
            border:1px solid <%- settings.loginColor %>;                       
        }

        .table1{
            width:800px;             
            border-collapse: collapse;              
            padding: 20px;
            vertical-align:middle;
            text-align:center;   
            font-weight:bolder;                      
        }

        .tablex{
            width:800px;   
            margin-top:70px;          
            border-collapse: collapse;            
            vertical-align:middle;  
            font-size:13px; 
            line-height:18px;                     
        }


        table,tr,td{
            border-collapse: collapse;
        }

        .table tr td{
            border-bottom: 1px solid #ccc;  
            line-height:10px;           
        }

        .table tr:first-child td{
            font-weight:bolder;
            border-bottom: 4px solid <%- settings.loginColor %>;  
            border-top: 6px solid <%- settings.accentColor %>;              
            border-left:none;
            border-right:none;                  
        }

        .table tr:last-child td{
            font-weight:bolder;
            border-bottom: 6px solid <%- settings.accentColor %>;
            border-top: 4px solid #000;   
            border-left:none;
            border-right:none;                  
        }

        .table td{
            padding: 20px 10px;            
        }

            
        .sbody{
            font-weight:600;
            font-size:11px;
            text-transform:uppercase;
            display:inline-block;
        }


        @media print {
          body{
              background:#fff;
              border:none;
          }

          .cover{
              background:#fff;
              border:thin solid #999;
              box-shadow:none;
              border-radius:0;
             
          }

          header{border-radius:0}
        }


    </style>
</head>
<body>
    <div class="cover">
         <header>
            <img src="<%- settings.logo; %>" class="logo">
            <h3 class="title">STUDENT FILE</h3>
         </header>  
          <content>
            <div class="owner">
                <div class="ch1">
                    <h3><%- settings.instituteLong; %></h3><br>
                    <p><b>A: </b><%- settings.instituteAddress; %></p>
                    <p><b>P: </b><%- settings.institutePhones; %></p><br>
                    <p><img src=""/> <%- settings.instituteEmail; %>, <%- settings.instituteWeb; %></p>
                </div>
                <div class="ch2">
                    <b><small><%- (row.fname+' '+row.lname).toUpperCase() %></small></b>
                    <h1><%- row.index_number %></h1>
                    <% if(row.photo == null){ %>
                        <img src="/public/none.png" class="stdphoto" style="width:50px;box-shadow:0px 0px 2px #666;padding:5px;float:right;margin:0 5px 5px 0;"/>
                        <% }else{%>
                        <img src="<%- row.photo;%>" class="stdphoto" style="width:50px;box-shadow:0px 0px 2px #666;padding:5px;float:right;margin:0 5px 5px 0;"/>
                        <% }%>
                </div>
        </div>
            
                  <table class="table">  
                      <tr>
                            <td colspan="4" style="background-color:<%- settings.accentColor; %>;"><h3 style="margin-bottom:-5px;color:<%- settings.primaryColor; %>;text-align:left;font-weight:bolder;">PERSONAL INFORMATION</h3></td>
                      </tr>
                                          
                      <tr>
                            <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">FIRST NAME</h5></td>
                            <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">LAST NAME</h5></td>
                            <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">DATE OF BIRTH</h5></td>
                            <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">GENDER</h5></td>
                     
                      </tr>                     
                      <tr>
                            <td align="left"><span class="sbody"><%- row.fname %> </span></td>
                            <td align="left"><span class="sbody"><%- row.lname %> </span></td>
                            <td align="left"><span class="sbody"><%- row.dobx %></span></td>
                            <td align="left"><span class="sbody"><%- row.gender =='M' ? 'MALE' : 'FEMALE' %></span></td>
                      </tr>
                      
                      <tr>
                            <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">PHONE</h5></td>
                            <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">ADDRESS</h5></td>
                            <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">HOMETOWN</h5></td>
                            <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">EMAIL</h5></td>
                            
                      </tr>                     
                      <tr>
                            <td align="left"><span class="sbody"><%- row.phone %> </span></td>
                            <td align="left"><span class="sbody"><%- row.address %> </span></td>
                            <td align="left"><span class="sbody"><%- row.hometown %></span></td>
                            <td align="left"><span class="sbody"><%- row.email %></span></td>
                           
                      </tr>

                     
                      <tr>
                        <td colspan="4" style="background-color:<%- settings.accentColor; %>;"><h3 style="margin-bottom:-5px;color:<%- settings.primaryColor; %>;text-align:left;font-weight:bolder;">GUARDIAN INFORMATION</h3></td>
                      </tr>
                                           
                      <tr>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">GUARDIAN NAME</h5></td>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">GUARDIAN RELATION</h5></td>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">GUARDIAN OCCUPATION</h5></td>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">RESIDENTIAL ADDRESS</h5></td>
                 
                     </tr>                     
                     <tr>
                            <td align="left"><span class="sbody"><%- row.guardian %> </span></td>
                            <td align="left"><span class="sbody"><%- row.guardian_relation %> </span></td>
                            <td align="left"><span class="sbody"><%- row.guardian_occupa %></span></td>
                            <td align="left"><span class="sbody"><%- row.address %></span></td>
                     </tr>
                     <tr>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">GUARDIAN MOBILE</h5></td>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">GUARDIAN PHONE</h5></td>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">GUARDIAN EMAIL</h5></td>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">&nbsp;</h5></td>
                 
                     </tr>                     
                     <tr>
                            <td align="left"><span class="sbody"><%- row.guardian_mobile %> </span></td>
                            <td align="left"><span class="sbody"><%- row.guardian_office %> </span></td>
                            <td align="left"><span class="sbody"><%- row.guardian_email %></span></td>
                            <td align="left"><span class="sbody">&nbsp;</span></td>
                     </tr>

                     <tr>
                        <td colspan="4" style="background-color:<%- settings.accentColor; %>;"><h3 style="margin-bottom:-5px;color:<%- settings.primaryColor; %>;text-align:left;font-weight:bolder;">ACADEMIC INFORMATION</h3></td>
                      </tr>
                                           
                      <tr>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">STUDENT NUMBER</h5></td>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">CLASS</h5></td>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">PROGRAM</h5></td>
                        <td style="background-color:#f1f2f3;"><h5 style="margin-bottom:-5px;text-align:left;font-weight:bolder;">ACADEMIC STATUS</h5></td>
                       
                      <!--  <td style="background-color:#eee;"><h5 style="margin-bottom:-5px;background-color:#eee;text-align:left;font-weight:bolder;">ACOMMODATION</h5></td>
                        <td style="background-color:#eee;"><h5 style="margin-bottom:-5px;background-color:#eee;text-align:left;font-weight:bolder;">ACADEMIC STATUS</h5></td>-->
                    </tr>                     
                    <tr>
                            <td align="left"><span class="sbody"><%- row.index_number %> </span></td>
                            <td align="left"><span class="sbody"><%- row.gname %> </span></td>
                            <td align="left"><span class="sbody"><%- row.prog %></span></td>
                            <td align="left"><span class="sbody"><%- row.academic_status %></span></td>
                          
                        <!--   <td align="left"><span class="sbody"><%- row.hallname %></span></td>
                            <td align="left"><span class="sbody"><%- row.academic_status %></span></td>-->
                    </tr>
                     <tr><td colspan="4"></td></tr>

                      <br><br>
                    
                      
                      
                    </table>
                  
                    <!--
                      <table class="table">                    
                         <tr>
                             <td align="center"><br><br><br><span class="sbody">----------------------------------------------------------</span><br><small>Signature of Academic Officer</small></td>
                             <td align="center"><br><br><br><span class="sbody">----------------------------------------------------------</span><br><small>Signature of Principal</small></td>
                             <td align="center"><br><br><br><span class="sbody">----------------------------------------------------------</span><br><small>Signature of Student</small></td>                        
                        </tr>
                      </table>
                    -->
              </div>              
         
          
    </div>
</body>
</html>