<!DOCTYPE>
<html lang="en">
<head>
    <title>STATEMENT OF TRANSACTION</title>
    <link href="http://www.allfont.de/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css" />
    <style type="text/css" >
         body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight:normal;
            font-size:13px; 
            background-color:#eee;  
            letter-spacing:0.093em;            
          }

         h2,h3,h4,h5,h6,b{color: <%- settings.loginColor; %>}

        header{
            background:<%- settings.loginColor; %>;
            padding:10px 15px;
            display:flex;
            border-radius:15px 15px 0 0;
        }

        .logo{
          height:80px;
          width:80px;
          border-radius:10px;
          padding:5px;
          background-color:white;
        }


        .photo{
          height:70px;
         
        }

        .cover{
            width: 920px;             
            margin: 10px auto;  
            box-shadow:2px 2px 4px #999;             
            background:#fff;  
            page-break-after:always;  
            border-radius:15px; 
            padding-bottom:20px;     
        }

        .title{
            text-align: left;  
            color:<%- settings.accentColor %>;
            font-size:28px;
            letter-spacing:0.15em;
            width:80%;
            padding:20px;
            margin:0px auto;                                                               
        }

        h1.title span{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-weight:100;
            color:#fff;
        }

        .subcover{
        clear:both;  
        text-align:center;   
        }

        .s-item{
            float:left;
            margin-right:6.2%;
            margin-left:7.2%;
            color:<%- settings.accentColor %>;
            font-size:16px;
        }

        .s-item b{
            color:#ccc;
        }


        content{
            font-family:'Arial Narrow', Arial, sans-serif;
            font-size: 17px;
            display:block;              
            clear:both;
            overflow:hidden;
            padding:10px 50px;
        }        


        .owner{
            font-weight:tahoma,helvetica;
            clear:both;
            overflow:hidden;
            padding:5px 0px;  
            line-height:5px;            
        }

        .owner small{
            font-size:12px;
            font-weight:bold;
        }

        .owner p{
            font-size:12px;  
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif          
        }

        .ch1{
            float:left;
        }
        .ch2{
            float:right;
            direction:rtl;
        }

        .content{
            clear:both;
            overflow:hidden;              
        }

        .sub-footer{
            clear:both;
        }

        .ftleft{
            float:left;
        }

        .ftright{
            float:left;
        }




        footer{
            margin:80px 0 10px;
            font-size:10px;
            font-family:cursive;
            font-style:italic;
        }

        .heading{
            text-align:center;
            text-decoration : underline;
        }

        .table{
            width:800px;             
            border-collapse: collapse;              
            padding: 20px;
            vertical-align:middle;
            text-align:center;  
            border:1px solid <%- settings.loginColor %>;                       
        }

        .table1{
            width:800px;             
            border-collapse: collapse;              
            padding: 20px;
            vertical-align:middle;
            text-align:center;   
            font-weight:bolder;                      
        }

        .tablex{
            width:800px;   
            margin-top:70px;          
            border-collapse: collapse;            
            vertical-align:middle;  
            font-size:13px; 
            line-height:18px;                     
        }


        table,tr,td{
            border-collapse: collapse;
        }

        .table tr td{
            border-bottom: 1px solid #ccc;  
            line-height:10px;           
        }

        .table tr:first-child td{
            font-weight:bolder;
            border-bottom: 4px solid <%- settings.loginColor %>;  
            border-top: 6px solid <%- settings.accentColor %>;              
            border-left:none;
            border-right:none;                  
        }

        .table tr:last-child td{
            font-weight:bolder;
            border-bottom: 6px solid <%- settings.accentColor %>;
            border-top: 4px solid #000;   
            border-left:none;
            border-right:none;                  
        }

        .table td{
            padding: 20px 10px;            
        }

            
        .sbody{
            font-weight:600;
            font-size:11px;
            text-transform:uppercase;
            display:inline-block;
        }


        @media print {
          body{
              background:#fff;
              border:none;
          }

          .cover{
              background:#fff;
              border:thin solid #999;
              box-shadow:none;
              border-radius:0;
             
          }

          header{border-radius:0}
        }


    </style>
</head>
<body>
    <div class="cover">
          <header>
               <img src="<%- settings.logo; %>" class="logo">
               <h3 class="title">STATEMENT OF <span>TRANSACTIONS</span></h3>
          </header>  
          <content>                        
              <div class="content">
                  <div class="owner">
                        <div class="ch1">
                            <h3><%- settings.instituteLong; %></h3><br>
                            <p><b>A: </b><%- settings.instituteAddress; %></p>
                            <p><b>P: </b><%- settings.institutePhones; %></p><br>
                            <p><img src=""/> <%- settings.instituteEmail; %>, <%- settings.instituteWeb; %></p>
                        </div>
                        <div class="ch2">
                            <b><small><%- (rows[0].fname+' '+rows[0].lname).toUpperCase() %></small></b>
                                    <h1><%- rows[0].index_number %></h1>
                                    <% if(rows[0].photo == null){ %>
                                        <img src="/public/none.png" class="stdphoto" style="width:50px;box-shadow:0px 0px 2px #666;padding:5px;float:right;margin:0 5px 5px 0;"/>
                                        <% }else{%>
                                        <img src="<%- rows[0].photo;%>" class="stdphoto" style="width:50px;height:66px;box-shadow:0px 0px 2px #666;padding:5px;float:right;margin:0 5px 5px 0;"/>
                                        <% }%>
                                       
                        </div>
                  </div>

               
                  <table class="table">  
                      <tr>
                            <td style="text-align:left;">ITEMS DETAILS</td>
                            <td>STATUS</td>
                            <td>QTY</td>
                            <td style="text-align:right;">AMOUNT</td>
                      </tr> 
                  <%    let sum = 0;
                      rows.map((row)=>{
                          row.action == 'D' ? sum += row.amount : sum -= row.amount;
                  %>
                      <tr>
                            <td align="left"><small>
                                <b><%- row.action == 'D' ? 'PAYMENT OF '+row.bill.toUpperCase(): row.bill.toUpperCase()+', CHARGED' %></b>
                                <p><%- row.receipt_no %> - <%- row.issued %></p>
                                </small>
                            </td>
                            <td> <%- row.action == 'D' ? '<small><b>PAYMENT</b></small>':'<small><b>CHARGE</b></small>' %></td>
                            <td>1</td>
                            <td align="right">
                                <b><%- row.action == 'C' ? '( &#8373 '+row.amount+' )':' &#8373 '+row.amount %></b>
                            </td>
                      </tr> 
                     <%
                         });
                     %> 
                      
                      <tr style="background:<%- settings.secondColor; %>">
                            <td align="left" colspan="4"><small>
                               <p><b>BILLED TO:</b> <span><%- (rows[0].fname+' '+rows[0].lname).toUpperCase() %> (<%- rows[0].index_number %>)</span>, 
                                <%- rows[0].prog %>, CLASS <%- rows[0].gname %></p>
                                </small>
                            </td>
                            
                      </tr>    
                     
                    </table>
                    <!-- Total Amount -->
                    <table class="table1">
                        <tr>
                            <td align="left"><h3>TOTAL BALANCE</h3></td><td colspan="4"></td>&nbsp;<td align="right"><h2>&#8373 <%- sum < 0 ? Math.abs(sum)+'<br><sub style="font-size:10px;font-style: italic;">(DEBT)</sub>': sum %></h2></td>
                        </tr>
                    </table>
                    
                    <!-- Payment Details -->
                    <table class="tablex" style="display:none;">                                 
                            <tr>
                                  <td align="left" colspan="2">&nbsp;</td>
                                  <td>&nbsp;</td>                                  
                                  <td align="right">
                                      <small><b><%- settings.instituteHead.toUpperCase(); %>,</b></small><br>
                                      <B>HEAD TEACHER</B><br>

                                  </td>
                            </tr>  
                    </table>
              </div> 
                                
          </content>              
    </div>
</body>
</html>